/* This CSS file is divided by section of the uia page. */
/*                                                      */
/* Sections are:                                        */
/*              Main Page Data                          */   
/*                  UIA Telemetry                       */
/*                  UIA State                           */
/*                                                      */


/******************************** Main Page Data CSS ********************************/
.roomDataContainer {
  width: 100%;
  margin: 1rem;
  background-color: var(--darker-grey);
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.roomDataColumnContainer {
  width: 100%;
  height: 25%;
  margin: .2rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.roomDataRowContainer {
  width: 100%;
  height: 25%;
  margin: .2rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.roomDataColumn {
  width: 80%;
  margin: .2rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.roomDataSubContainer {
  background-color: var(--dark-grey);
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin: .5rem;
  border-radius: 1rem;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.roomDataTitleContainer {
  font-size: 1.25rem;
  margin: .5rem;
  padding-bottom: .25rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.roomDataTitle {
  color: var(--white);
  text-decoration: none;
  white-space: nowrap;
}

.roomDataSubTitleContainer {
  font-size: .9rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin: .5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.roomDataSubTitle {
  color: var(--lighter-grey);
  text-decoration: none;
  white-space: nowrap;
}

.roomDataMainBodyContainer {
  width: 100%;
  margin: .5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.roomDataMainBodySubContainer {
  width: 85%; 
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

/**************** UIA Telemetry CSS ****************/
.telemetryStateNameContainer {
  width: 65%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.telemetryStateDataContainer {
  width: 35%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.telemetryStateDataTitle {
  color: var(--white);
  font-size: 1rem;
  white-space: nowrap;
  font-weight: bold;
}

.telemetryStateData {
  color: var(--white);
  font-size: .85rem;
  white-space: nowrap;
}

/**************** UIA State CSS ****************/
.uiaStateInfoContainer {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.uiaStateInfoTitle {
  color: var(--white);
  font-size: 1rem;
  white-space: nowrap;
  font-weight: bold;
}

.uiaStateInfo {
  color: var(--white);
  font-size: .85rem;
  white-space: nowrap;
}

.uiaStateSensorContainer {
  width: 10%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.uiaStateSensor {
  background-color: var(--light-grey);
  border-radius: 5rem;
  height: 1rem;
  width: 1rem;
}

.switch {
  width: 2.95rem;
  height: 1.25rem;
  margin-left: .5rem;
  margin-right: .5rem;
  position: relative; 
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0rem;
  height: 0rem;
}

.slider {
  background-color: var(--light-grey);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  cursor: pointer;
}

.slider:before {
  height: 1rem;
  width: 1.25rem;
  left: .15rem;
  bottom: .12rem;
  background-color: var(--white);
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: "";
}

input:checked + .slider {
  background-color: var(--light-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.45rem);
  -ms-transform: translateX(1.45rem);
  transform: translateX(1.45rem);
}

.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}
